@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(230, 200, 206);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin-left: 3rem;
    border-radius: 5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

nav {
    box-shadow: 0rem .2rem 1rem #000000a2;
    position: sticky;
    z-index: 2;
    top: 0;
}

.nav-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(82, 9, 24);
    align-items: center;
}

.nav-container h1 {
    font-size: 4rem;
    color: white;
    margin: 0rem auto;
    text-align: center;
}

#showcase {
    display: flex;
    flex-direction: row;
    padding: 4rem;
}

.left-container {
    background-color: rgb(255, 241, 244);
    min-height: 40rem;
    width: 70%;
    margin: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 3rem #0000004f;
    padding: 1.5rem;
}

.left-container p {
    font-size: 1.7rem;
    display: inline-block;
}